## Fetch stocks data from Yahoo finance and save it to .csv files

In [1]:
import time 
import datetime
import pandas as pd

In [2]:
symbol_us = 'GOOGL' #Google ticker
symbol_other = '2330.TW' # Taiwan Semiconductor ticker
period1 = int(time.mktime(datetime.datetime(2005,1,1,23,59).timetuple())) # begining 
period2 = int(time.mktime(datetime.datetime(2021,5,5,23,59).timetuple())) # end
interval = '1d' #1wk,1m
querr_us = f'https://query1.finance.yahoo.com/v7/finance/download/{symbol_us}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'
querr_other = f'https://query1.finance.yahoo.com/v7/finance/download/{symbol_other}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'
df_us = pd.read_csv(querr_us,index_col=0,header=0,parse_dates=True)
df_other = pd.read_csv(querr_other,index_col=0,header=0,parse_dates=True)
df_us.to_csv(f'stock_data/{symbol_us}.csv')
df_other.to_csv(f'stock_data/{symbol_other}.csv')

In [3]:
period1

1104641940

In [7]:
df_us = pd.read_csv(f'stock_data/{symbol_us}.csv',index_col=0,header=0,parse_dates=True)
df_other = pd.read_csv(f'stock_data/{symbol_other}.csv',index_col=0,header=0,parse_dates=True)

In [8]:
df_us.head()

                Open      High       Low     Close  Adj Close     Volume
Date
2005-01-03  4.939940  5.096096  4.891391  5.072823   5.072823  633134232
2005-01-04  5.040040  5.078328  4.841842  4.867367   4.867367  549685764
2005-01-05  4.841091  4.927427  4.810561  4.842593   4.842593  329134536
2005-01-06  4.881882  4.902402  4.697698  4.718468   4.718468  415068516
2005-01-07  4.770771  4.861111  4.724224  4.851101   4.851101  386129484